body {
  font-family: 'Slabo 27px', serif;
  background-image: url('../img/pattern.jpg');
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul a {
  padding: 1px 16px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 10px;
}

section h1 {
  text-align: center;
}

section div article {
  border-bottom: 1px solid black;
}

section div article a {
  text-decoration: none;
}

p {
  text-align: justify;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px;
  font-size: 20px;
  font-weight: bold;
}